# Ignore everything by default
*
*/

# Unignore top level files
!.gitignore
!Makefile
!topgrade.toml

# Unignore top level directories and all contents
!tmux/
!tmux/**

!homebrew/
!homebrew/**

!fish/
!fish/**

!bat/
!bat/**

!alacritty/
!alacritty/**

!aerospace/
!aerospace/**

!tmuxinator/
!tmuxinator/home.yml
!tmuxinator/busy.yml

!newsboat/
!newsboat/**

# Ignore contents of specific directories
tmux/plugins/
tmux/themes/

fish/completions/
fish/conf.d/
fish/themes/
fish/functions/
fish/fishd.*
fish/vars.fish
fish/local.fish
fish/fish_variables
fish/local_functions.fish
fish/local_settings.fish
