.DS_Store
topgrade.d/
nvim/
tmux/plugins/
tmux/themes/
mise/
fish/fish_variables/
fish/fish_variables
fish/functions/awsprofile.fish
MusicBrainz/
StardewValley/
enchant/
filezilla/
geany/
git/
ncmpcpp/
qBittorrent/
raycast/
